
@media (min-width: 992px) {
    .tile_count .tile_stats_count {
        margin-bottom: 10px;
        border-bottom: 0;
        padding-bottom: 10px;
        color: cadetblue;
    }
}

.eScNsh {
    font-size: 0.9rem !important;
}

.cardBox {
    width: 30%;
}